<div>
 <table border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date of Birth</th>
      <th>Gender</th>
      <th>Address</th>
      <th>First Release Year</th>
      <th>No of albums released</th>

    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @artist.name %></td>
        <td><%= @artist.dob %></td>
        <td><%= @artist.gender %></td>
        <td><%= @artist.address %></td>
        <td><%= @artist.first_release_year %></td>
        <td><%= @artist.no_of_albums_released %></td>
      </tr>
  </tbody>
</table>
</div>
<%= link_to 'Add New Song', new_artist_song_path(@artist.id) %>
<%= link_to "Songs", artist_songs_path(@artist.id), class: "btn btn-primary" %>
