<div class="user-details">
  <div class="detail">
    <div class="label">Name:</div>
    <div class="value"><%=@artist.name  %></div>
  </div>
  <div class="detail">
    <div class="label">Date of Birth:</div>
    <div class="value"><%= @artist.dob.to_date%></div>
  </div>
  <div class="detail">
    <div class="label">Gender:</div>
    <div class="value"><%= @artist.gender %></div>
  </div>
  <div class="detail">
    <div class="label">Address:</div>
    <div class="value"><%= @artist.address %></div>
  </div><div class="detail">
    <div class="label">First released Year:</div>
    <div class="value"><%= @artist.first_release_year %></div>
  </div><div class="detail">
    <div class="label">No of Albums released:</div>
    <div class="value"><%= @artist.no_of_albums_released %></div>
  </div>
</div>

<%= link_to 'Add New Song', new_artist_song_path(@artist.id),  class: "btn btn-primary" %>
<%= link_to "Songs Lists", artist_songs_path(@artist.id), class: "btn btn-primary" %>
