<h1>User Management</h1>

<table class="table-container">
   <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Gender</th>
      <th>Phone</th>
      <th>Date of Birth</th>
      <th>Address</th>
      <th>Role</th>
      <th>Created Through</th>
      <th colspan=3>Action </th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= "#{user.fetch("first_name")} #{user.fetch("last_name")} " || " - "  %></td>
        <td><%= user.fetch("email")  %></td>
        <td><%= User.genders.key(user.fetch("gender"))&.titleize|| " - "  %></td> 
        <td><%= user.fetch("phone") || " - " %></td>
        <td><%= user.fetch("dob")&.to_date || " - " %></td> 
        <td><%= user.fetch("address") || " - "  %></td>
        <td><%= User.roles.key(user.fetch("role"))&.titleize || " - " %></td> 
        <td><%= user.fetch("invitation_sent_at").present? ? "Invitation" : "Registration" %></td> 
        <%if current_user.super_admin?%>
          <td><%= link_to 'Edit', edit_user_path(user.fetch("id")), class: "btn btn-info" %></td>
          <td> <%= link_to 'Detail', user_path(user.fetch("id")), class: "btn btn-info" %></td>
          <td> <%= button_to "Delete",user_path(user.fetch("id")) , method: :delete , class: "btn btn-danger" %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
<div class = "pt-2 pb-2">
    <%= link_to 'Previous', users_path(page: @page  - 1), class: 'pagination' if @page > 1 %>
    <%= link_to @page, '#', class: 'pagination current' %>
    <%= link_to 'Next', users_path(page: @page  + 1), class: 'pagination' if @users.count >= @per_page %>   
<%if current_user.super_admin?%>
  <%= link_to 'Add User', new_user_invitation_path,  class: "btn btn-primary" %>
<%end%>
</div>
