<%= form_with(model: [@artist, @song], url: @song.persisted? ? artist_song_path(@artist, @song) : artist_songs_path(@artist), method: @song.persisted? ? :patch : :post) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :album_name %>
    <%= form.text_field :album_name %>
  </div>

   <div class="field">
    <%= form.label :genre %>
    <%= form.select :genre, Song.genres.keys.map { |genre| [genre.capitalize, Song.genres[genre]] } %>
  </div>

  <%= form.submit %>
<% end %>