
<div>
<% if current_user.artist?%>
  <%= link_to 'Add New Song', new_artist_song_path(@artist.id),  class: "btn btn-primary pt-2 pb-2" %>
<%end%>
<%if @songs.count != 0 %>
  <table class="table-container">
    <thead>
      <tr>
        <th>Title</th>
        <th>Album Name</th>
        <th>Genre</th>
        <th colspan = 2> </th>
      </tr>
    </thead>
    <tbody>
        <%@songs.each do |song|%>
        <tr>
          <td><%= song.fetch("title")%></td>
          <td><%= song.fetch("album_name")%></td>
          <td><%= Song.genres.key(song.fetch("genre"))&.titleize || " - " %></td> 
        <% if current_user.artist?%>
          <td> <%= link_to 'Edit', edit_artist_song_path(song.fetch("artist_id"), song.fetch("id")) %> </td>
          <td> <%= button_to "Delete",artist_song_path(song.fetch("artist_id"), song.fetch("id")), method: :delete, data: { confirm: "Are you sure?" }  %> </td>
        <%end%>
        </tr>
        <%end%>
    </tbody>
  </table>
  <div class="pt-2 pb-2">
    <%= link_to 'Previous', artist_songs_path(page: @page  - 1), class: 'pagination' if @page > 1 %>
    <%= link_to @page, '#', class: 'pagination current' %>
    <%= link_to 'Next', artist_songs_path(page: @page  + 1), class: 'pagination' if @songs.count >= @per_page %>  
  </div> 
  <%else%>
  <p> Songs not Available</p>
  <%end%>
  </div>