
<h2> Song list of <%=@artist.name%></h2>
<div>
<%= link_to 'Add New Song', new_artist_song_path(@artist.id),  class: "btn btn-primary" %>
<table class="table-container">
  <thead>
    <tr>
      <th>Title</th>
      <th>Album Name</th>
      <th>Genre</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      <%@artist.songs.each do |song|%>
      <tr>
        <td><%= song.title %></td>
        <td><%= song.album_name %></td>
        <td><%= song.genre %></td>
       <td> <%= link_to 'Edit', edit_artist_song_path(@artist, song) %> </td>
       <td> <%= button_to "delete",artist_song_path(@artist, song), method: :delete, data: { confirm: "Are you sure?" }  %> </td>
      </tr>
      <%end%>
  </tbody>
</table>
</div>