<!DOCTYPE html>
<html>
  <head>
    <title>ArtistManagementSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'custom' %>

  </head>

  <body>
  <% if current_user.present? %>
    <div class="header">
        <div class="header-left">
            <span>Hello <%=current_user.first_name.titleize%> </span>
        </div>
        <div class="header-right">
            <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "logout-button" %>
        </div>
      </div>

    <%= render partial: 'layouts/sidebar' %>
  <%end%>
    <div class="main-content">
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
      <%= yield %>
    </div>
  </body>
</html>
